@media screen and ( max-width:480px ){
    header{
        width:100%;
    }
    .l-container {
        width:94%;
    }
     
    .l-container h1{
        line-height:1.5;
       
    }
    .l-container img{
        width:240px;
    }
    header ul{
    }

    header ul li a{
        margin-bottom:15px;
    }
    .li-one{
        display: none;
    }
    
    .message-content,
    .message-content .message-text,
    .message-content img {
        position: static;
    }

    .message-text,
    .message-text p {
        width: 100%;
    }

    .intro-content {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .greet-left {
        width: 100%;
    }

    .t-content-left,
    .t-content-right,
    .table-one,
    .table-two {
        width: 100%;
    }

    .greet-three {
        flex-wrap: wrap;
    }

    .greeting-container li {
        float: none;
    }

    .greet-two li {
        width: 100%;
    }

    .foot-left {
        width: 100%;
    }

    .greet-three p{
        
    }
    
  
        
    


}

