.l-container{
    width:1110px;
    margin:0 auto;
}
.header{
}
.header-top{
    display:flex;
}
.header-left{
    padding-top:30px;
    width:fit-content;
}
.header-left ul{
    display:flex;
}
.header-left img{
    width:25px;
    margin-right:20px;
}
.top-image{
    margin-top:20px;
    margin-left:260px;
    height:37px;
}
    
.search{
    width:200px;
    height:30px;
    margin-top:20px;
    margin-left:230px;
}
nav{
    height: 50px;
}
.header-nav ul{
    display:flex;
    padding-top:15px;
    justify-content: space-between;
}
.header-nav li{
    line-height: 24px;
    vertical-align:auto;
    width:150px;
    border-right:1px dotted #666;
    text-align: center;
}
.header-nav li:nth-child(8){
    border:none;
}
.header-nav a{
    text-decoration:none;
    font-family: Helvetica,sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 2px;
    color: #666;
}
.main-visual{
    display:flex;
    width:100%;
}
.visual-content{
    width:33.333333%;
    margin-right:2px;
    position:relative;
}
.visual-content img{
    width:100%;
}
.visual-text{
    z-index:1;
    position:absolute;
    bottom:12px;
    left:12px;
    color: #C0C0C0;
}
.visual-text p:nth-child(1){
    color:#ffffff;
    font-family: Muli,cursive;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.special{
    padding-top:20px;
    background: #fbeff5;
    padding-bottom:50px;
}
.special p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 38px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.special p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 12px;
    margin-top:10px;
    margin-bottom:20px;
}
.special-container{
    width:100%;
    display:flex;
    justify-content:space-between
}
.special-content{
    width:350px;
    background-color: white;
    padding-bottom:5px;
}
.special-content img{
    width:100%;
}
.special-content a {
    text-decoration:none;
}
.title{
    padding-top:15px;
}
.title p{
    clear: both;
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 700;
    margin: 5px;
}
.subject{
    color: #fc4a9a;
    font-family: Muli,Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 5px;
    margin-left:10px;
}
.time{
    float:right;
    margin-right:10px;
    color:#666;
    font-size:7.5px;
}

.main-content{
    background: #f8f7f7;
    padding-top:40px;
}
.main-container{
    display:flex;
    justify-content:space-between;
}
.left-container{
    width:710px;
    padding-top:20px;
    height:3000px;
}
.left-container p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 38px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}
.left-container p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 12px;
    margin-top:10px;
    margin-bottom:20px;
}
.article-container{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.new-content{
    background-color:white;
    width:224px;
    margin-bottom:20px;
}
.new-content a{
    text-decoration:none;
}
.new-content img{
    width:100%;
}
.explain{
    width:95%;
    padding-top:10px;
}
.time02{
    float:right;
    margin-right:10px;
    margin-top:5px;
    color:#666;
    font-size:7.5px;
}
.explain p{
    clear: both;
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 700;
    margin: 5px 0;
    margin-left:6px;
}
.button{
    margin-top:15px;
    text-align:center;
}
.btn{
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    width:50px;
    height:48px;
}
.btn a{
    text-decoration:none;
    color: #cd3735;
    font-weight:400;

}




.right-container{
    width:340px;
    height:3000px;
    padding-top:60px;
}
.ranking{

}
.ranking p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 25px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.ranking p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 10px;
    margin-top:10px;
    margin-bottom:20px;
    color:#3E3E3E;
}
.ranking-content{
    width:100%;
    background-color:white;
    margin-bottom:30px;
}
.ranking-content a{
    text-decoration:none;
}
.ranking-content img{
    width:120px;
}
.content-explain{
    width:190px;
    padding-top:6px;
    margin-right:13px;
    float:right;
}
.content-explain p{
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px 0 0;
    margin:0 auto;
}
.more{
    border:1px solid orangered;
    border-radius:3px;
    background-color: orangered;
    height:58px;

}
.more a{
    text-decoration: none;
    color:white;
    background-color:olivedrab;
  
}
.more img{
    width:15px;
}