.l-container{
    width:1110px;
    margin:0 auto;
}

.header-top{
    display:flex;
}
.header-left{
    padding-top:30px;
    width:fit-content;
}
.header-left ul{
    display:flex;
}
.header-left img{
    width:25px;
    margin-right:20px;
}
.top-image{
    margin-top:20px;
    margin-left:260px;
    height:37px;
}
    
.search{
    width:200px;
    height:30px;
    margin-top:20px;
    margin-left:230px;
}
nav{
    height: 50px;
}
.header-nav ul{
    display:flex;
    padding-top:15px;
    justify-content: space-between;
}
.header-nav li{
    line-height: 24px;
    vertical-align:auto;
    width:150px;
    border-right:1px dotted #666;
    text-align: center;
}
.header-nav li:nth-child(8){
    border:none;
}
.header-nav a{
    text-decoration:none;
    font-family: Helvetica,sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 2px;
    color: #666;
}
.nav-hover:hover{
    color:#fc4a9a;
    border-bottom:1px solid #ddd;
}
.hover-list{
    position:relative;
}
.hover-list:hover{
    color:#fc4a9a;
    border-bottom:1px solid #ddd;
}

.hover-list-content{
    width:150px;
    position:absolute;
    z-index:10;
    opacity:0.8;
    display:none;
}
.hover-list-content a{
    background-color: white;
    display:inline-block;
    width:100%;
    text-align:center;
    padding:15px 0;
}
.main-visual{
    display:flex;
    width:100%;
    z-index:0;
}
.visual-content{
    width:33.333333%;
    margin-right:2px;
    position:relative;
}
.visual-content img{
    width:100%;
    filter:brightness(93%);
}
.visual-text{
    z-index:1;
    position:absolute;
    bottom:12px;
    left:12px;
}
.visual-text p:first-child{
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.visual-text p:nth-child(2){
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
}

.special{
    padding-top:20px;
    background: #fbeff5;
    padding-bottom:50px;
}
.special p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 38px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.special p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 12px;
    margin-top:10px;
    margin-bottom:20px;
}
.special-container{
    width:100%;
    display:flex;
    justify-content:space-between
}
.special-content{
    width:350px;
    background-color: white;
    padding-bottom:5px;
}
.special-content img{
    width:100%;
}
.special-content a {
    text-decoration:none;
}
.title{
    padding-top:15px;
}
.title p{
    clear: both;
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 700;
    margin: 5px;
}
.subject{
    color: #fc4a9a;
    font-family: Muli,Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 5px;
    margin-left:10px;
}
.time{
    float:right;
    margin-right:10px;
    color:#666;
    font-size:7.5px;
}

.main-content{
    background: #f8f7f7;
    padding-top:40px;
}
.main-container{
    display:flex;
    justify-content:space-between;
}
.left-container{
    width:710px;
    padding-top:20px;
    height:3000px;
}
.left-container p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 38px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}
.left-container p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 12px;
    margin-top:10px;
    margin-bottom:20px;
}
.article-container{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.new-content{
    background-color:white;
    width:224px;
    margin-bottom:20px;
}
.new-content a{
    text-decoration:none;
}
.new-content img{
    width:100%;
}
.explain{
    width:95%;
    padding-top:10px;
}
.time02{
    float:right;
    margin-right:10px;
    margin-top:5px;
    color:#666;
    font-size:7.5px;
}
.explain p{
    clear: both;
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 700;
    margin: 5px 0;
    margin-left:6px;
}
.button{
    margin-top:15px;
    text-align:center;
}
.btn{
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    width:50px;
    height:48px;
}
.btn a{
    text-decoration:none;
    color: #cd3735;
    font-weight:400;

}




.right-container{
    width:340px;
    height:3000px;
    padding-top:60px;
}

.ranking p:nth-child(1){
    font-weight:700;
    color:pink;
    font-size: 25px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.ranking p:nth-child(2){
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 10px;
    margin-top:10px;
    margin-bottom:20px;
    color:#3E3E3E;
}
.ranking-content{
    width:100%;
    background-color:white;
    margin-bottom:30px;
}
.ranking-content a{
    text-decoration:none;
}
.ranking-content img{
    width:120px;
}
.content-explain{
    width:190px;
    padding-top:6px;
    margin-right:13px;
    float:right;
}
.content-explain p{
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px 0 0;
    margin:0 auto;
}
.more{
    border:1px solid #B22222;
    border-radius:5px;
    background-color:#B22222;
    height:58px;
    position:relative;
    opacity:0.8;
}

.more a{
    text-decoration:none;
    height:100%;
}
.more-text{
    color:white;
    font-weight:600;
    font-size:0.8rem;
    height:100%;
    padding-top:20px;
    text-align:center;
}
.more img{
    width:15px;
    height:58px;
    float:right;
    position:absolute;
    top:0;
    right:10px;
}
.hot-keyword{
    width:100%;
    height:270px;
    padding-top:30px;
    margin-top:30px;
    border-bottom: 2px dotted 	#FF1493;
    border-top: 2px dotted 	#FF1493;

}

.keyword-title{
    font-weight:700;
    color:pink;
    font-size: 25px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.keyword-trans{
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 10px;
    margin-top:10px;
    margin-bottom:20px;
    color:#3E3E3E;
}
.keyword-content {
    width:90%;
    margin:0 auto;
}
.keyword-content p{
    float: left;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin: 4px;
    padding: 5px;
    font-size: 12px;
}
.keyword-content a{
    text-decoration:none;
    color:black;
}
.keyword-content span{
    color:#cd3735;
    margin-right:5px;
}
.right-image1{
    margin-top:35px;
}
.right-image1 img{
    width:100%;
    margin-bottom:px;
}
.recommend{
    margin-top:30px;
}
.recommend-title{
    font-weight:700;
    color:pink;
    font-size: 25px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.recommend-trans{
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 10px;
    margin-top:10px;
    color:#3E3E3E;
}
.recommend-container{
    margin-top:20px;
}
.recommend-content{
    width:100%;
    height:90px;
    background-color:white;
    margin-bottom:15px;
}
.recommend-content a{
    text-decoration:none;
}
.recommend-content img{
    height:100%;
}
.recommend-explain{
    width:190px;
    height:100%;
    padding-top:6px;
    margin-right:13px;
    float:right;
}
.re-content-title{
    color:tomato;
    font-family: Muli,Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 5px;
    margin-left:10px;
}
.recommend-explain p:nth-child(2){
    color: #454545;
    font-size: 11px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px 0 0;
    margin:0 auto;
}
.column{
    width:100%;
    margin-top:20px;
    margin-bottom:40px;
}
.column img{
    width:100%;
    margin-bottom:20px
}
.fotter{
    padding-top:30px;
    border-top:1px solid #eee;
}
.fotter-upper{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    padding-bottom:30px;
}
.category{
    width:520px;
    padding-top:30px;
    padding-bottom:30px;
    border-bottom:5px dotted #fc4a9a;
    border-top:5px dotted #fc4a9a;
}
.category-title{
    font-weight:700;
    color:pink;
    font-size: 25px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}

.category-trans{
    font-weight:600;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
    font-size: 10px;
    margin-top:10px;
    color:#3E3E3E;
    margin-bottom:15px;
}
.cate-content-container{
    width:480px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:0 auto;
}
.category-content a{
    text-decoration: none;
    width:100%;
}
.category-content img{
    width:40px;
    height:40px;
    margin:8px 7px;
    margin-right:15px;
}
.category-content-explain{
    float:right;
    margin-top:15px;
    margin-right:110px;
}
.category-content-explain p:nth-child(1){
    color: #fc4a9a;
    font-family: Muli,Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
}
.category-content-explain p:nth-child(2){
    color: #454545;
    font-size: 11px;;
    opacity:0.8;
    padding-top:3px;
   
}
.fotter-column{
    width:226px;
    padding-top:30px;
    padding-left:20px;
}
.fotter-column a{
    text-decoration:none;
    display: block;
    color: #777;
    opacity:0.9;
    margin:0 30px 30px 35px;
    font-size:12px;
    font-weight: 400;;
}
.follows{
    width:340px;
    margin-top:30px;
}
.follows-title{
    font-weight:700;
    color:lightcoral;
    font-size: 20px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    text-align: center;    
}
.fotter-sns{
    display:flex;
    justify-content:space-between;
}
.fotter-sns{
    border-top:3px dotted #fc4a9a;
    border-bottom:3px dotted #fc4a9a;
    padding:20px 0;
    margin-top:20px;

}
.follows img{
    width:25px;
}
.footer-under{
    height:71px;
    display:flex;
    justify-content:space-between;
}
.footer-under img{
    height:30px;
    margin-top:20px;
}
.under-right{
    margin-top:20px;
}
.under-column{
    display:flex;
}
.under-column li{
    padding-right:10px;
    margin-left:15px;
    border-right:1px solid #666;
}
.under-column a{
    text-decoration:none;
    color: #888;
    font-size:12px;
    
}
.under-column li:last-child{
    padding-right:0;
    border-right:none;
}
.under-right p{
    font-size:11px;
    margin-top:8px;
    opacity:0.9;
    display:inline-block;
    float:right;
}
/*スマホ版で使いたい要素*/